@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Varela+Round&display=swap");

:root {
    --purple: #9966f1;
}

body {
    color: #636363;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Varela Round", sans-serif;
    scroll-behavior: smooth;
    /* background-color: #f5e5f17c; */
    background-color: white;
}

/* NavBar custom */
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

section {
    margin-top: 5rem !important;
    margin-bottom: 15rem !important;
}

/* Home */
@supports (-webkit-text-stroke: 1px black) {
    .nav-link:hover {
        filter: brightness(0.75);
    }
}


.navbar * {
    background-color: rgba(255, 255, 255, 0);
}


.bg-purple {
    background-color: var(--purple) !important;
}

.text-purple {
    color: var(--purple) !important;
}

#brand_icon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #ffffff7c;
}



/* Header */
#name{
    font-size: 3rem;
}


/* Progress Bar */
.fa-icon {
    font-size: 4rem;
}


/* Skills progress meter */
@keyframes growProgressBar {
    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}


div[role="progressbar"] {
    --size: 10rem;
    --fg: #369;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--purple) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-size: calc(var(--size) / 8);
    color: var(--fg);
}


div[role="progressbar"]::after {
    counter-reset: percentage var(--value);
    /* content: counter(percentage) '%'; */
}

/* Skills progress meter END */



/* Style for ScrollToTop Button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 2000;
}
